/* static/examples.css */
* {
    box-sizing: border-box;
}

.title {
    display: block;
    margin-top: 50px;
    text-align: center 
}
  
img {
    width: 550px;
    height: 450px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto 
}

button {
    display: table;
    margin: 50px auto;
    padding: 10px;
}
  
